/**
* Anax Flat theme.
*/
@import url(default.less);

@background: #CCD2EF;
@inner: #9CA5D7;
@nav: #FFE1AA;
@footer: #FFDD89;

html {
    background-color: @background;
}

.inner-wrap {
    background-color: @inner;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.rm-desktop li a {
    background-color: @nav;
}

.inner-wrap-footer {
    background-color: @footer;
}
